{{> navbar}}
<div class="container mt-3">
  <div class="d-flex align-items-center gap-3">
    <img
      class="img-thumbnail"
      src="/img/woman.jpg"
      alt="woman"
      width="250"
    >
    <div>
      <h2>Usos del directorio</h2>
      <p>
        Es importante guardar nuestros contactos en de forma ordenada, organizada y segura, para ello contamos con MIS CONTACTOS, un directorio donde tendrás acceso en todo momento y desde cualquier ubicación.
    </div>
  </div>
  {{> backhome}}
</div>