{{> navbar}}
<div class="container mt-3">
  <div class="row justify-content-center">
      <div class="col-md-6 alert alert-info">
        <h3>Se ha eliminado con éxito el contacto "{{first_name}} {{last_name}}"</h3>
        {{> backhome}}
      </div>
  </div>
</div>